<a href="https://colab.research.google.com/github/profteachkids/StemUnleashed/blob/main/07Jul2022_MLB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget -q https://github.com/profteachkids/StemUnleashed/raw/main/mlb_batting.zip -O mlb.zip

In [2]:
import shutil
from pathlib import Path
import pandas as pd

In [3]:
shutil.unpack_archive('mlb.zip', extract_dir='mlb')

In [4]:
files=list(Path('mlb').glob('**/*.csv'))
keys=[afile.as_posix().split('/')[1:] for afile in files]
keys=[tuple((key[0], key[1], key[-1].split('.')[0])) for key in keys]

In [5]:
df_list=[]
days=['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
for afile in files:
    df=pd.read_csv(afile).iloc[:,1:]
    df['home']=df['OPP'].str.startswith('vs').astype(int)
    df['win']=(df['Result'].str[0]=='W').astype(int)
    df=df.loc[df['Date'].str[:3].isin(days),['Date','AB','HR','home','win']]
    df[['day','Date']]=df.loc[:,'Date'].str.split(' ',expand=True)
    df_list.append(df)

In [6]:
df=pd.concat(df_list,keys=keys)
df.index=df.index.droplevel(3)
df.index.names=['team','player','year']
df=df.reset_index().set_index(['team','player'])
df['date']=pd.to_datetime(df['Date'] + '/' + df['year'])
df=df.drop(['year','Date'],axis=1)

In [7]:
df

                                    AB HR  home  win  day       date
team                player
los-angeles-dodgers Freddie Freeman  4  0     1    0  Wed 2019-10-09
                    Freddie Freeman  5  0     0    0  Mon 2019-10-07
                    Freddie Freeman  4  0     0    1  Sun 2019-10-06
                    Freddie Freeman  3  0     1    1  Fri 2019-10-04
                    Freddie Freeman  4  1     1    0  Thu 2019-10-03
...                                 .. ..   ...  ...  ...        ...
pittsburgh-pirates  Oneil Cruz       5  0     1    0  Wed 2022-06-22
                    Oneil Cruz       4  0     1    1  Tue 2022-06-21
                    Oneil Cruz       5  0     1    1  Mon 2022-06-20
                    Oneil Cruz       4  1     1    0  Sun 2021-10-03
                    Oneil Cruz       5  0     1    1  Sat 2021-10-02

[252919 rows x 6 columns]

In [8]:
df[['AB','HR']]=df[['AB','HR']].astype(int)

In [9]:
df

                                     AB  HR  home  win  day       date
team                player
los-angeles-dodgers Freddie Freeman   4   0     1    0  Wed 2019-10-09
                    Freddie Freeman   5   0     0    0  Mon 2019-10-07
                    Freddie Freeman   4   0     0    1  Sun 2019-10-06
                    Freddie Freeman   3   0     1    1  Fri 2019-10-04
                    Freddie Freeman   4   1     1    0  Thu 2019-10-03
...                                  ..  ..   ...  ...  ...        ...
pittsburgh-pirates  Oneil Cruz        5   0     1    0  Wed 2022-06-22
                    Oneil Cruz        4   0     1    1  Tue 2022-06-21
                    Oneil Cruz        5   0     1    1  Mon 2022-06-20
                    Oneil Cruz        4   1     1    0  Sun 2021-10-03
                    Oneil Cruz        5   0     1    1  Sat 2021-10-02

[252919 rows x 6 columns]

In [28]:
team_HR_ratio=df.pivot_table(index=['team'],values=['AB','HR'],columns='home',aggfunc='sum')
team_HR_ratio=team_HR_ratio.rename(columns={0:"Away",1:"Home"},level=1)
team_HomeAway=team_HR_ratio['HR']/team_HR_ratio['AB']
team_HomeAway['ratio']=team_HomeAway['Home']/team_HomeAway['Away']
team_HomeAway.sort_values('ratio',ascending=False)

home                       Away      Home     ratio
team
colorado-rockies       0.033055  0.042727  1.292609
chicago-white-sox      0.032907  0.039290  1.193999
baltimore-orioles      0.035093  0.041690  1.187971
san-diego-padres       0.035341  0.041202  1.165843
los-angeles-dodgers    0.038326  0.044121  1.151208
seattle-mariners       0.039068  0.044925  1.149908
boston-red-sox         0.035879  0.040978  1.142131
houston-astros         0.032262  0.036200  1.122068
cincinnati-reds        0.035382  0.039470  1.115548
texas-rangers          0.036666  0.040511  1.104851
los-angeles-angels     0.033204  0.036550  1.100790
philadelphia-phillies  0.037931  0.041000  1.080890
new-york-yankees       0.044177  0.047693  1.079590
toronto-blue-jays      0.044898  0.047488  1.057678
chicago-cubs           0.030992  0.032380  1.044797
washington-nationals   0.031820  0.032747  1.029141
new-york-mets          0.034037  0.034694  1.019323
atlanta-braves         0.043194  0.043789  1.013755
minnesota-twins        0.044797  0.044916  1.002647
detroit-tigers         0.039115  0.038777  0.991337
milwaukee-brewers      0.035070  0.034682  0.988923
tampa-bay-rays         0.036495  0.035884  0.983254
pittsburgh-pirates     0.030860  0.029315  0.949918
cleveland-guardians    0.034495  0.032419  0.939824
st-louis-cardinals     0.046259  0.042619  0.921319
san-francisco-giants   0.040949  0.037523  0.916326
miami-marlins          0.034942  0.031055  0.888739
arizona-diamondbacks   0.034471  0.030386  0.881509
kansas-city-royals     0.036741  0.031460  0.856259
oakland-athletics      0.029947  0.023554  0.786500

In [52]:
player_HR_ratio=df.pivot_table(index=['player'],values=['AB','HR'],columns='home',aggfunc='sum')
player_HR_ratio=player_HR_ratio.rename(columns={0:"Away",1:"Home"},level=1)
player_HomeAway=player_HR_ratio['HR']/player_HR_ratio['AB']
player_HomeAway=player_HomeAway.query('Away>0 and Home>0')  #avoid division by zero

In [53]:

player_HomeAway['ratio']=player_HomeAway['Home']/player_HomeAway['Away']
player_HomeAway=player_HomeAway.join(player_HR_ratio['AB'],rsuffix='AB')
player_HomeAway.sort_values('ratio',ascending=False)

home                 Away      Home     ratio  AwayAB  HomeAB
player
Matt Thaiss      0.011905  0.086957  7.304348      84      92
Matt Reynolds    0.005263  0.034091  6.477273     190     176
Jake Burger      0.010989  0.070175  6.385965      91     114
Gavin Sheets     0.017143  0.089172  5.201699     175     157
Riley Adams      0.010526  0.048780  4.634146      95      82
...                   ...       ...       ...     ...     ...
Eli White        0.041176  0.011050  0.268350     170     181
Austin Wynns     0.048485  0.010989  0.226648     165     182
Keibert Ruiz     0.031646  0.006494  0.205195     158     154
Lars Nootbaar    0.071429  0.010638  0.148936      84      94
Grayson Greiner  0.035556  0.004717  0.132665     225     212

[456 rows x 5 columns]

home                   Away      Home     ratio  AwayAB  HomeAB
player
AJ Pollock         0.034342  0.041855  1.218767    1718    1768
Aaron Hicks        0.030501  0.040639  1.332366    1377    1378
Aaron Judge        0.069804  0.089030  1.275433    1275    1258
Abraham Toro       0.031250  0.034268  1.096573     384     321
Adalberto Mondesi  0.029827  0.030960  1.037966     637     646
...                     ...       ...       ...     ...     ...
Yoshi Tsutsugo     0.039370  0.030534  0.775573     254     262
Yu Chang           0.031963  0.025974  0.812616     438     308
Yuli Gurriel       0.026993  0.036987  1.370248    1593    1487
Zach McKinstry     0.023529  0.068966  2.931034      85      87
Zack Collins       0.039801  0.018405  0.462423     201     163

[456 rows x 5 columns]

In [48]:
player_HR_ratio

                    AB         HR
home              Away  Home Away Home
player
AJ Pollock        1718  1768   59   74
Aaron Hicks       1377  1378   42   56
Aaron Judge       1275  1258   89  112
Aaron Whitefield     5     7    0    0
Abraham Toro       384   321   12   11
...                ...   ...  ...  ...
Yu Chang           438   308   14    8
Yuli Gurriel      1593  1487   43   55
Zach McKinstry      85    87    2    6
Zach Reks           22    22    0    0
Zack Collins       201   163    8    3

[510 rows x 4 columns]