<a href="https://colab.research.google.com/github/profteachkids/StemUnleashed/blob/main/MLBDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
!wget -q https://github.com/profteachkids/StemUnleashed/raw/main/mlb_batting.zip -O mlb_batting.zip

In [45]:
import numpy as np
import pandas as pd
import itertools as it
import shutil
from pathlib import Path
idx=pd.IndexSlice

In [46]:
shutil.unpack_archive('mlb_batting.zip',extract_dir='mlb_batting')

In [47]:
files=list(Path('mlb_batting').glob('**/*.csv'))
keys=[afile.as_posix().split('/')[1:] for afile in files]
keys=[tuple((*key[:-1],key[-1].split('.')[0])) for key in keys]

In [48]:
df_list=[]
for afile in files[:5]:
    df_list.append(pd.read_csv(afile).iloc[:,1:])

In [129]:
df=pd.concat(df_list,keys=keys)
df.index=df.index.droplevel(3)
df.index.names=['team','player','year']

In [130]:
df.head()

                                             Date    OPP Result  AB  R  H  2B  \
team                player        year
los-angeles-dodgers Evan Phillips 2021  Thu 10/21  vsATL  W11-2   0  0  0   0
                                  2021  Tue 10/19  vsATL   W6-5   0  0  0   0
                                  2021   Fri 10/1  vsMIL   W8-6   0  0  0   0
                                  2021   Thu 9/30   vsSD   W8-3   0  0  0   0
                                  2021   Sat 9/25   @ARI   L7-2   0  0  0   0

                                        3B  HR  RBI  BB  HBP  SO  SB  CS  AVG  \
team                player        year
los-angeles-dodgers Evan Phillips 2021   0   0    0   0    0   0   0   0  0.0
                                  2021   0   0    0   0    0   0   0   0  0.0
                                  2021   0   0    0   0    0   0   0   0  0.0
                                  2021   0   0    0   0    0   0   0   0  0.0
                                  2021   0   0    0   0    0   0   0   0  0.0

                                        OBP  SLG  OPS
team                player        year
los-angeles-dodgers Evan Phillips 2021  0.0  0.0  0.0
                                  2021  0.0  0.0  0.0
                                  2021  0.0  0.0  0.0
                                  2021  0.0  0.0  0.0
                                  2021  0.0  0.0  0.0

In [131]:
df_date=df.loc[:,'Date'].str.split(' ',expand=True)
df_date.columns=['day','date']
df=df.drop('Date',axis=1)
df=df_date.join(df)

In [132]:
df=df.reset_index()
df=df.set_index(['team','player'])
df['date']=pd.to_datetime(df['date']+'/' +df['year'])
df=df.drop('year',axis=1)

In [133]:
df

                                   day       date    OPP Result  AB  R  H  2B  \
team                player
los-angeles-dodgers Evan Phillips  Thu 2018-07-26  vsLAD   L8-2   0  0  0   0
                    Evan Phillips  Thu 2018-07-26   @MIA  W12-1   0  0  0   0
                    Evan Phillips  Thu 2018-07-26   @MIL  L10-3   0  0  0   0
                    Evan Phillips  Mon 2018-07-23  vsLAD   L8-2   0  0  0   0
                    Evan Phillips  Mon 2018-07-23   @MIA  W12-1   0  0  0   0
...                                ...        ...    ...    ...  .. .. ..  ..
                    Evan Phillips  Sun 2022-04-10   @CHC   W7-1   0  0  0   0
                    Evan Phillips  Sun 2022-04-10   @ARI   L5-3   0  0  0   0
                    Evan Phillips  Sun 2022-04-10  vsCIN   W9-3   0  0  0   0
                    Evan Phillips  Sun 2022-04-10   @MIN   W7-2   0  0  0   0
                    Evan Phillips  Sun 2022-04-10   @COL   L9-4   0  0  0   0

                                   3B  HR  RBI  BB  HBP  SO  SB  CS  AVG  OBP  \
team                player
los-angeles-dodgers Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0
                    Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0
                    Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0
                    Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0
                    Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0
...                                ..  ..  ...  ..  ...  ..  ..  ..  ...  ...
                    Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0
                    Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0
                    Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0
                    Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0
                    Evan Phillips   0   0    0   0    0   0   0   0  0.0  0.0

                                   SLG  OPS
team                player
los-angeles-dodgers Evan Phillips  0.0  0.0
                    Evan Phillips  0.0  0.0
                    Evan Phillips  0.0  0.0
                    Evan Phillips  0.0  0.0
                    Evan Phillips  0.0  0.0
...                                ...  ...
                    Evan Phillips  0.0  0.0
                    Evan Phillips  0.0  0.0
                    Evan Phillips  0.0  0.0
                    Evan Phillips  0.0  0.0
                    Evan Phillips  0.0  0.0

[176 rows x 20 columns]

In [125]:
g.reindex(df.index,level=0)

         0    1
a a 0  2.0  3.0
    1  2.0  3.0
    2  2.0  3.0
  b 0  2.0  3.0
    1  2.0  3.0
    2  2.0  3.0
b a 0  4.0  6.0
    1  4.0  6.0
    2  4.0  6.0
  b 0  4.0  6.0
    1  4.0  6.0
    2  4.0  6.0

In [115]:
g

     0    1
a  2.0  3.0
b  4.0  6.0