<a href="https://colab.research.google.com/github/profteachkids/StemUnleashed/blob/main/MLBDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget -q https://github.com/profteachkids/StemUnleashed/raw/main/mlb_batting.zip -O mlb_batting.zip

In [2]:
import numpy as np
import pandas as pd
import itertools as it
import shutil
from pathlib import Path
idx=pd.IndexSlice

In [3]:
shutil.unpack_archive('mlb_batting.zip',extract_dir='mlb_batting')

In [4]:
files=list(Path('mlb_batting').glob('**/*.csv'))
keys=[afile.as_posix().split('/')[1:] for afile in files]
keys=[tuple((*key[:-1],key[-1].split('.')[0])) for key in keys]

In [7]:
df_list=[]
days=['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
for afile in files:
    df= pd.read_csv(afile).iloc[:,1:]
    df['home']=~df['OPP'].str.startswith('@')
    df=df.drop('OPP',axis=1)
    df=df.loc[df['Date'].str[:3].isin(days),['Date','home','AB','HR']]
    df['HR']=df['HR'].astype('int64')
    df['AB']=df['AB'].astype('int64')
    df_date=df.loc[:,'Date'].str.split(' ',expand=True).loc[:,:1]
    df_date.columns=['day','date']
    df=df.drop('Date',axis=1)
    df=df_date.join(df)
    df['day']=df['day'].astype('category')
    df_list.append(df)

In [8]:
df=pd.concat(df_list,keys=keys)
df.index=df.index.droplevel(3)
df.index.names=['team','player','year']
df=df.reset_index().set_index(['team','player'])

In [45]:
#combine month/day with year
df['date']=pd.to_datetime(df['date']+'/' +df['year'])
df=df.drop('year',axis=1)

In [11]:
df.pivot_table(values=['AB','HR'],index=['team','home'],aggfunc=['sum'])

                               sum
                                AB    HR
team                  home
arizona-diamondbacks  False   8471   292
                      True    8392   255
atlanta-braves        False  15928   688
                      True   15415   675
baltimore-orioles     False   9261   325
                      True    8947   373
boston-red-sox        False  17587   631
                      True   16887   692
chicago-cubs          False  13552   420
                      True   13218   428
chicago-white-sox     False  14526   478
                      True   13922   547
cincinnati-reds       False  14923   528
                      True   13884   548
cleveland-guardians   False   8407   290
                      True    7804   253
colorado-rockies      False  12585   416
                      True   12451   532
detroit-tigers        False  15646   612
                      True   15138   587
houston-astros        False  15932   514
                      True   15359   556
kansas-city-royals    False  13010   478
                      True   12810   403
los-angeles-angels    False  15179   504
                      True   14993   548
los-angeles-dodgers   False  19256   738
                      True   18268   806
miami-marlins         False  10503   367
                      True   10079   313
milwaukee-brewers     False  17023   597
                      True   15945   553
minnesota-twins       False  10581   474
                      True   10041   451
new-york-mets         False  20478   697
                      True   19081   662
new-york-yankees      False  21731   960
                      True   21387  1020
oakland-athletics     False  13290   398
                      True   12652   298
philadelphia-phillies False  17268   655
                      True   16805   689
pittsburgh-pirates    False   7615   235
                      True    7266   213
san-diego-padres      False  19326   683
                      True   17936   739
san-francisco-giants  False  17192   704
                      True   16390   615
seattle-mariners      False  16740   654
                      True   15871   713
st-louis-cardinals    False  20169   933
                      True   19287   822
tampa-bay-rays        False   8549   312
                      True    8611   309
texas-rangers         False  11782   432
                      True   11281   457
toronto-blue-jays     False   9310   418
                      True    9055   430
washington-nationals  False  17379   553
                      True   16551   542