<a href="https://colab.research.google.com/github/profteachkids/StemUnleashed/blob/main/xgBoostZoneSignal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget -q https://raw.githubusercontent.com/profteachkids/StemUnleashed/main/ZoneSignal.csv -O ZoneSignal.csv

In [ ]:
import xgboost as xgb
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('ZoneSignal.csv',index_col=None)

In [ ]:
df[[column for column in df.columns if column.startswith('sig')]]

         sig1      sig2      sig3      sig4      sig5      sig6
0    3.026623  5.320474  1.296976  5.832483  5.548093  0.264843
1    2.293431  8.950831  4.387669  9.054688  0.699717  1.556249
2    7.732456  8.867546  3.555100  6.381053  0.568196  3.532965
3    3.509973  5.096478  1.265424  6.180144  5.626308  0.035215
4    1.632062  6.316934  4.424000  7.828496  7.742988  2.778147
..        ...       ...       ...       ...       ...       ...
939  1.981237  6.110125  4.447232  7.808184  7.960261  2.652341
940  8.723233  4.556490  7.830059  1.158852  6.848499  6.856138
941  1.910268  6.234471  4.169279  7.802381  7.753280  2.524415
942  3.126592  5.255111  0.999153  5.969900  5.779855  0.179822
943  8.469710  4.276395  7.470346  1.207999  6.795674  6.927923

[944 rows x 6 columns]

In [ ]:
dtrain = xgb.DMatrix(df[[column for column in df.columns if column.startswith('sig')]].iloc[:-100], label=df['zone'].iloc[:-100])
dtest = xgb.DMatrix(df[[column for column in df.columns if column.startswith('sig')]].iloc[-100:], label=df['zone'].iloc[-100:])
# specify parameters via map
param = {'max_depth':2, 'eta':1}
num_round = 2
bst = xgb.train(param, dtrain, num_round)
# make prediction
preds = bst.predict(dtest)

In [ ]:
np.round(preds,0).astype(np.int32)

array([4, 2, 8, 0, 4, 8, 9, 0, 0, 6, 3, 0, 6, 6, 6, 6, 3, 9, 4, 8, 4, 6,
       8, 2, 0, 0, 2, 6, 2, 3, 6, 6, 4, 9, 0, 2, 6, 6, 8, 8, 4, 6, 0, 2,
       6, 0, 9, 3, 6, 9, 9, 3, 3, 8, 0, 6, 9, 2, 2, 0, 6, 9, 6, 9, 3, 6,
       6, 4, 9, 6, 6, 6, 6, 2, 6, 0, 3, 6, 4, 4, 3, 2, 3, 2, 8, 6, 6, 0,
       2, 9, 4, 0, 2, 3, 0, 0, 6, 0, 8, 6], dtype=int32)

In [ ]:
df['zone'].iloc[-100:].to_numpy()

array([4, 2, 8, 0, 1, 8, 9, 0, 0, 5, 3, 0, 6, 5, 6, 5, 3, 9, 4, 8, 4, 5,
       8, 3, 0, 1, 7, 5, 7, 3, 5, 6, 4, 9, 1, 2, 6, 7, 8, 8, 4, 5, 0, 3,
       5, 0, 9, 3, 5, 9, 9, 3, 3, 8, 0, 6, 9, 2, 2, 0, 6, 9, 5, 9, 3, 7,
       6, 4, 9, 7, 7, 7, 5, 7, 6, 0, 3, 5, 4, 1, 3, 2, 3, 3, 8, 5, 7, 1,
       2, 9, 4, 0, 2, 3, 4, 0, 5, 0, 8, 5])